/ProjetoBase/nbproject/private/
/ProjetoBase/build/
/WebServiceTemplate/nbproject/private/
/WebServiceTemplate/WebServiceTemplate-ejb/nbproject/private/
/WebserviceBase/WebserviceBase-ejb/target/
/WebserviceBase/WebserviceBase-ear/target/
/testeWebService/target/